* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    display: inline-block;
}

.container {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.timer {
    background-color: red;
    width: 100px;
    height: 100px;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.health-wrapper {
    position: relative;
    height: 30px;
    width: 100%;
}

.health-wrapper:first-child {
    display: flex;
    justify-content: flex-end;
}

.health-bar {
    background-color: yellow;
    height: 30px;
    width: 100%;
}

.health {
    position: absolute;
    background-color: blue;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.health-wrapper:first-child .health {
    width: 100%;
    left: unset;
}

.result {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    display: none;
    align-items: center;
    justify-content: center;
}